<h1> Recipe </h1>

    <div>
        <label>Title</label> 
        <%= recipe.mealName %>
    </div>

    <div>
        <label>About the recipe</label>
        <%= recipe.mealDescription %> 
    </div>

    <div>
        <label>ingrediants</label>
        <%= recipe.mealIngrediants =>
    </div>
    
    <div>
        <label>Preperation Time</label>
        <%= recipe.prepareTime %>
    </div>

    <div>
        <label>Category</label>
        <%= recipe.category =>      
    </div>

    <div>
        <label>Author</label>
        <%= recipe.chef.userName %>        
    </div>
    <div>
        <label>Created At</label>
        <%= moment(recipe.createdAt).fromNow() %>
    </div>
    
    <div>
        <label>Updated At</label>
        <%= moment(recipe.updatedAt).fromNow() %>
    </div>
    <hr>
    
    
   